@font-face {
    font-family: "work-sans";
    src: local("work-sans"), url(../fonts/WorkSans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "work-sans";
    src: local("work-sans"), url(../fonts/WorkSans-Medium.ttf) format("truetype");
}
