body {
  font-family: "work-sans", Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  margin: 0 auto;
  width: 1460px / 1600px * 100%;
  max-width: 1460px;

  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.grid {
  display: grid;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.col {
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  font-family: "work-sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  text-transform: uppercase;

  cursor: pointer;
}

.btn-small {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  text-transform: lowercase;
  color: $main-font-color;

  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.btn-primary {
  padding-top: 16px;
  padding-bottom: 16px;

  color: #ffffff;

  background: #000000;
  transition: background 0.2s ease;

  &:hover {
    background-color: #636363;
  }
}

// .btn-empty-inside {
// }

.main-font {
  font-family: "work-sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.checkout__title {
  margin-bottom: 19px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: $main-font-color;
}

.checkout__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  width: 720px;

  //border-bottom: 1px solid #bdbdbd;
}

.checkout__payments {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

.checkout__title {
  overflow: hidden;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;

  color: #000000;

  text-align: center;
  margin-bottom: 25px;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  &:before,
  &:after {
    content: "";
    position: relative;

    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    background-color: #636363;
  }

  &:before {
    margin-left: -100%;
    left: -14px;
  }

  &:after {
    margin-right: -100%;
    right: -14px;
  }
}

.checkout__form {
  display: flex;
  flex-direction: column;
}

.checkout-form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.checkout-form__title {
  margin-bottom: 19px;

  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: $main-font-color;
}

.checkout__input {
  padding: 15px 14px;
  margin-bottom: 15px;

  border: 1px solid #636363;
}

.checkout__checkbox {
  margin-right: 5px;
}

.grey-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  color: #636363;
}

.checkout__btn {
  padding: 16px 153px;
}
